@use "../healpers" as *;

.contacts {
  padding-block: var(--section-padding) 0;
  margin-bottom: var(--section-padding);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: rem(20);

  @include mobile-media {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "socials write"
      "qr qr";
  }
  margin-bottom: rem(47);

  &__title {
    text-align: center;
    line-height: 1;
    color: var(--color-accent-dark);

    @include mobile-s-media {
      margin-bottom: rem(10);
      font-size: rem(17);
    }
    &--social {
      margin-bottom: fluid(20, 10);
    }
  }

  &__soc1als {
    @include mobile-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: socials;
    }
  }

  &__link {
    @include mobile-media {
      grid-area: qr;
      justify-content: center;
    }

    &-image {
      box-shadow: var(--image-bow-shadow-dark);
      border-radius: var(--border-radius);
      object-fit: contain;
      transition-duration: var(--transition-duration);

      @include hover {
        scale: 1.1;
      }
      @include active {
        scale: 1;
      }
    }
  }

  &__write {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-block: fluid(15, 0) fluid(20, 0);

    @include mobile-media {
      grid-area: write;
    }
  }

  &__button {
    flex-grow: 0;
  }
}
