@use "../healpers" as *;

.gallery-slider {
  position: relative;

  @include laptop-media {
    height: fluid(650, 300);
  }

  &__image {
    width: 100%;
    height: rem(650);
    object-fit: cover;

    @include laptop-media {
      height: 100%;
    }
  }

  &__pagination {
    position: absolute;
    left: 50% !important;
    translate: -50%;
    bottom: fluid(50, 20) !important;
    z-index: 3;
    width: unset !important;

    .swiper-pagination-bullet {
      opacity: 1;
      border: var(--border-white);
      background-color: transparent;
      width: rem(10);

      &-active {
        background-color: var(--color-light);
      }
    }
  }
}
