@use "../healpers" as *;

.menu {
  text-transform: uppercase;
  &__list {
    @include flex-center;

    gap: rem(15);

    @include desktop-media {
      column-gap: rem(30);
      row-gap: rem(10);
      flex-wrap: wrap;
      max-width: rem(500);
    }

    @include tablet-media {
      max-width: unset;
    }
  }

  &__link {
    @include fluid-text(18, 12);

    transition-duration: var(--transition-duration) !important;
    @include hover {
      color: var(--color-accent-light);
    }

    @include active {
      scale: 0.98;
    }
    &--image {
      box-shadow: var(--image-bow-shadow-dark);
      border-radius: var(--border-radius);
      @include hover {
        filter: brightness(90%);
      }

      @include active {
        scale: 0.98;
      }
    }
  }
}
//Styles for mobile menu
@include tablet-media {
  .menu {
    &__list {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      gap: rem(30);
    }

    &__link {
      font-size: rem(16);
    }
  }
}
