@use "../healpers" as *;

.promo {
  --mainImageHeight: #{rem(1050)};

  min-height: calc(var(--mainImageHeight) - (var(--header-height) * 2));
  color: var(--color-light);

  @include mobile-media {
    --mainImageHeight: #{rem(761)};
  }

  &__image {
    object-fit: cover;
    height: var(--mainImageHeight);
    width: 100vw;

    @media (max-width: 1640px) {
      overflow: hidden;
    }

    @include mobile-s-media {
      object-position: center var(--header-height);
    }

    &-wrapper {
      position: absolute;
      z-index: -1;
      top: calc(var(--header-height) * -1);
      filter: brightness(60%);
    }
  }

  &__body {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: fluid(115, 50) rem(50);
    text-align: center;
  }

  &__title {
    margin-bottom: fluid(170, 155);
    line-height: 1;
    letter-spacing: rem(1.5);

    @include laptop-media {
      @include fluid-text(65, 45);
    }
  }

  &__text {
    @include fluid-text(18, 14);

    max-width: fluid(365, 284);
    text-transform: uppercase;
    line-height: 1.8;

    &:not(:last-child) {
      margin-bottom: rem(33);
    }
  }
}
