@use "../healpers" as *;

.section {
  padding-top: var(--sectionPadding);

  &__title {
    color: var(--color-accent-dark);
    text-align: center;
    text-transform: uppercase;

    @include mobile-media {
      text-align: start;
    }
  }
}
