@use "../healpers" as *;

.start {
  &__title {
    margin-bottom: fluid(60, 20);
  }

  &__info {
    @include flex-space-between;

    gap: rem(20);
    margin-bottom: fluid(70, 20);

    @include tablet-media {
      flex-direction: column;
    }
    @include mobile-s-media {
      align-items: start;
    }
  }

  &__info-weather {
    .lgFavo {
      max-width: 100%;
      @include desktop-media {
        max-width: clamp(#{rem(5)}, 40vw, #{rem(640)});
      }

      @include tablet-media {
        max-width: 100%;
      }

      @include mobile-media {
        max-width: clamp(#{rem(300)}, 91.75vw, #{rem(720)});
      }

      @include mobile-s-media {
        max-width: clamp(#{rem(300)}, 84.5vw, #{rem(420)});
      }
    }
    .fNdNyi {
      min-height: rem(300) !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border-radius: var(--border-radius) !important;

      @include tablet-media {
        min-height: rem(148) !important;
      }
    }

    .eapps-widget-toolbar {
      display: none;
    }
  }

  &__info-buttons {
    @include tablet-media {
      max-width: rem(320);
    }

    @include mobile-s-media {
      max-width: unset;
    }
  }

  &__info-button {
    width: 100%;

    padding-inline: rem(70);

    &:not(:last-child) {
      margin-bottom: fluid(50, 10);
    }

    @include tablet-media {
      padding-inline: rem(35);
    }
  }

  &__soc1al {
    text-align: center;
    font-size: rem(18);

    @include mobile-media {
      font-size: rem(17);
    }
    @include mobile-s-media {
      text-align: start;
    }

    &-heading {
      text-transform: uppercase;
      color: var(--color-accent-dark);
      margin-bottom: fluid(10, 5);
      font-size: rem(18);

      @include mobile-media {
        font-size: rem(17);
      }
    }

    &-link {
      color: var(--color-light);
      transition-duration: var(--transition-duration);

      @include hover {
        color: var(--color-accent-dark);
      }
      @include active {
        color: var(--color-accent-medium);
        scale: 0.98;
      }
    }
  }
}
