@use "../healpers" as *;

:root {
  --color-light: #ffffff;
  --color-light-opacity-10: rgba(255, 255, 255, 0.202);
  --color-dark: #000000;

  --color-light-opacity: #ffffff8d;
  --color-dark-opacity: #00000066;

  --color-accent-dark: #0a59b1;
  --color-accent: #3ca5fa;
  --color-accent-medium: #48a0e9;
  --color-accent-light: #70bfff;
  --color-accent-opacity: #0a58b1bf;

  --color-yellow: #fefd02;
  --color-orange: #ffcc00;

  --color-gray: #999999;

  --image-bow-shadow-dark: 0px 3px 14px 0px rgba(0, 0, 0, 0.25);

  --border: #{rem(1)} solid var(--color-blue-light);

  --border-radius: #{rem(20)};

  --font-family-base: "Montserrat", sans-serif;
  --font-family-second: "Unbounded", sans-serif;
  --font-family-third: "Inter", sans-serif;
  --font-family-additional: "Roboto", sans-serif;

  --container-width: #{rem(1300)};
  --container-padding-x: #{rem(20)};
  --header-height: #{rem(100)};
  --promo-strip-height: #{rem(60)};

  --transition-duration: 0.3s;

  @include mobile-media {
    --header-height: #{rem(60)};
    --promo-strip-height: #{rem(50)};
  }
}
