@use "../healpers" as *;

:root {
  --color-light: #ffffff;
  --color-light-opacity-10: #ffffff34;
  --color-light-opacity-90: #ffffffe6;
  --color-light-opacity: #ffffff8d;
  --color-dark: #000000;
  --color-dark-opacity: #00000066;
  --color-dark-opacity-80: #00000033;
  --color-dark-opacity-60: rgba(0, 0, 0, 0.4);

  --color-accent-dark: #0a59b1;
  --color-accent: #3ca5fa;
  --color-accent-medium: #48a0e9;
  --color-accent-light: #70bfff;
  --color-accent-opacity: #0a58b1bf;
  --color-accent-dark-opacity: #0a58b1a6;

  --color-yellow: #f2f20fe6;
  --color-orange: #ffcc00;
  --color-red: #ff0033;

  --color-gray-dark: #999999;
  --color-gray: #adacac;
  --color-gray-light: #cecece;
  --color-gray-opacity: #a9a9a9b3;

  --image-bow-shadow-dark: 0px 3px 14px 0px rgba(0, 0, 0, 0.25);

  --text-shadow-svg: 1px 1px 2px rgba(0, 0, 0, 0.5);

  --border: #{rem(1)} solid var(--color-accent-light);
  --border-white: #{rem(1)} solid var(--color-light);
  --border-white-fat: #{rem(2)} solid var(--color-light);

  --border-radius-extra-small: #{rem(5)};
  --border-radius-small: #{rem(10)};
  --border-radius: #{rem(20)};
  --border-radius-medium: #{rem(25)};
  --border-radius-large: #{rem(50)};

  --font-family-base: "Montserrat", sans-serif;
  --font-family-second: "Unbounded", sans-serif;
  --font-family-third: "Inter", sans-serif;
  --font-family-additional: "Roboto", sans-serif;

  --container-width: #{rem(1300)};
  --container-padding-x: #{rem(20)};
  --header-height: #{rem(100)};
  --promo-strip-height: #{rem(60)};
  --section-padding: #{fluid(150, 49)};

  --transition-duration: 0.3s;

  @include desktop-media {
    --container-padding-x: 9.375vw;
  }
  @include tablet-media {
    --container-padding-x: #{rem(20)};
  }
  @include mobile-media {
    --header-height: #{rem(60)};
  }
}
